ConsoleApplication1/Service References/WeatherService/WeatherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MgmUtils.PlacesModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MgmUtils.PlacesModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Places">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cities" nillable="true" type="tns:ArrayOfCity" />
      <xs:element minOccurs="0" name="Districts" nillable="true" type="tns:ArrayOfDistrict" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Places" nillable="true" type="tns:Places" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="District" nillable="true" type="tns:District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrict" nillable="true" type="tns:ArrayOfDistrict" />
  <xs:complexType name="District">
    <xs:sequence>
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="District" nillable="true" type="tns:District" />
</xs:schema>