ExampleConsoleApp/Service References/WeatherService/WeatherService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9989/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MgmUtils.Models" />
  <xs:import schemaLocation="http://localhost:9989/WeatherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MgmUtils.PlacesModels" />
  <xs:element name="GetWeatherForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MgmUtils.Models" minOccurs="0" name="GetWeatherForecastResult" nillable="true" type="q1:Forecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MgmUtils.PlacesModels" minOccurs="0" name="GetPlacesResult" nillable="true" type="q2:Places" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>