ExampleConsoleApp/Service References/WeatherService/WeatherService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MgmUtils.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MgmUtils.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Forecast">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentForecast" nillable="true" type="tns:ForecastCurrent" />
      <xs:element minOccurs="0" name="FiveDayForecast" nillable="true" type="tns:ForecastForFiveDays" />
      <xs:element minOccurs="0" name="LocationInfo" nillable="true" type="tns:LocationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Forecast" nillable="true" type="tns:Forecast" />
  <xs:complexType name="ForecastCurrent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Humidity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pressure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weather" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="tns:Wind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForecastCurrent" nillable="true" type="tns:ForecastCurrent" />
  <xs:complexType name="Wind">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Velocity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wind" nillable="true" type="tns:Wind" />
  <xs:complexType name="ForecastForFiveDays">
    <xs:sequence>
      <xs:element minOccurs="0" name="Forecasts" nillable="true" type="tns:ArrayOfForecastForDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForecastForFiveDays" nillable="true" type="tns:ForecastForFiveDays" />
  <xs:complexType name="ArrayOfForecastForDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForecastForDay" nillable="true" type="tns:ForecastForDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForecastForDay" nillable="true" type="tns:ArrayOfForecastForDay" />
  <xs:complexType name="ForecastForDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Daily" nillable="true" type="tns:ForecastDaily" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="History" nillable="true" type="tns:ForecastDailyHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForecastForDay" nillable="true" type="tns:ForecastForDay" />
  <xs:complexType name="ForecastDaily">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" nillable="true" type="tns:Humidity" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="tns:Temperature" />
      <xs:element minOccurs="0" name="Weather" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="tns:Wind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForecastDaily" nillable="true" type="tns:ForecastDaily" />
  <xs:complexType name="Humidity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Max" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Min" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Humidity" nillable="true" type="tns:Humidity" />
  <xs:complexType name="Temperature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Max" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Min" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
  <xs:complexType name="ForecastDailyHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Average" nillable="true" type="tns:Temperature" />
      <xs:element minOccurs="0" name="Extremity" nillable="true" type="tns:Temperature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForecastDailyHistory" nillable="true" type="tns:ForecastDailyHistory" />
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sunrise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sunset" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationInfo" nillable="true" type="tns:LocationInfo" />
</xs:schema>